<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/css/main.css" />
		<title>Unser eigener Datensatz</title>
	</head>
	<body>
		<h1><a href="/digits">Male Zahlen! ¯\_(ツ)_/¯</a></h1>
		<h2>Jetzt bitte eine <span id="digit">&lt;&lt;Zahl&gt;&gt;</span></h2>
		<canvas id="canvas" width="400" height="400"
			>Sorry, geht nicht ¯\_(ツ)_/¯</canvas
		>
		<button id="clear">Löschen</button>
		<button id="send">Abschicken</button>
        <p>Du hast schon <span id="count">fast etwas</span> abgegeben!</p>

		<script
			src="/js/fabric.min.js"
			defer
		></script>
		<script src="/js/main.js" defer></script>
	</body>
</html>
