* {
	margin: 0;
	padding: 0;
	font-family: "Mochiy Pop P One", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 10px;
	gap: 1.25rem;
}

h1,
h2 {
	text-align: center;
}

h1 > a {
	text-decoration: none;
	color: #333;
}

h1:hover > a {
	text-decoration: underline;
	color: rgb(25, 37, 78);
}

#canvas {
	border: 1px solid #ccc;
}

#canvas,
button {
	border-radius: 0.5rem;
}

button {
	border: none;
	background-color: rgb(35, 77, 155);
	color: white;
	font-weight: 600;
	font-size: 1.5rem;
	padding: 1rem 1.5rem;
	letter-spacing: 2px;
	cursor: pointer;
	transition: transform 0.3s ease;
}

button:hover {
	transform: scale(1.1);
}

.digit-figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.digit-figure img {
	height: 64px;
	width: 64px;
	padding: 8px;
	border-radius: 12px;
	border: 1px solid rgba(0, 0, 0, 0.4);
}

.loading {
	position: relative;
}

.loading:after {
	content: " ";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: block;
	width: 128px;
	height: 128px;
	border-radius: 50%;
	border: 12px solid #333;
	border-color: #333 transparent #333 transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@media screen and (min-width: 640px) {
	body {
		padding: 50px;
	}
}
